h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #584b4f;
  margin: 100px;
  font-size: 70pt;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: center;
}
li {
  color: rgb(145, 145, 145);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(109, 71, 11);
}

.links {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20pt;
  white-space: nowrap;
  color: red;
}
.flavor {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(153, 153, 160);
  margin: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
body {
  background-color: #3d3a3a;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(156, 156, 156);
  margin-top: 40px;
}
.item-container {
  display: flex;
  padding: 0px;
  flex-wrap: nowrap;
}
.item {
  height: auto;
  min-width: 200px;
  max-width: fit-content;
  background-color: 584B4F;
  flex: 1;
  flex-direction: inherit;
}
a:hover {
  image-orientation: flip;
}
.item:hover {
  background-color: rgb(67, 53, 53);
}

a:link,
a:visited {
  background-color: #776362;
  color: rgb(34, 32, 32);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
}

a:hover,
a:active {
  background-color: rgb(41, 16, 16);
}

div {
  justify-content: center;
}
img {
  
  justify-content: center;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}
em {
  justify-content: center;
  display: flex;
  flex: 1;
}
