h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(125, 98, 80);
  background-color: blanchedalmond;
  margin: 100px;
}
li {
  color: rgb(67, 53, 53);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(109, 71, 11);
}

.links {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: auto;
}
.flavor {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(77, 77, 78);
  margin: 20px;
}
body {
  background-color: rgb(234, 216, 188);
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}
.item-container {
  display: flex;
  padding: 10px;
}
.item {
  height: auto;
  width: auto;
  background-color: blanchedalmond;
  flex: 1;
  padding: 0px;
  border: 3px solid black;
}
a:hover {
  image-orientation: flip;
}
.item:hover {
  background-color: rgb(67, 53, 53);
}
a:hover {
  background-color: rgb(161, 163, 139);
}
